body{
   background-image: url(../../images/purplesky.jpg);
   opacity: 0.8;
}

active, color{
   color: #dddddd  
}

div.page-header{
   margin-left: 20px;  
   color: white;
}

h1 small.page-header-small{
   margin-left: 10px;  
   color: white;
}

h1{
   color: #3399ff;  
}

a{
   color: white;  
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    color: #dddddd;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div.well{
   background-color: white;
}


